@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiTypography-root,
.MuiFormLabel-root,
.MuiInputBase-root {
  font-family: "Montserrat", sans-serif !important;
}
